
#wb_header { height: 149px; }
#wb_header > .wb_cont_bg { background-color: transparent; }
#wb_header > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_main { height: 910px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background-color: #ffffff; }
#wb_main > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_footer { height: 130px; }
#wb_footer > .wb_cont_bg { background-color: transparent; }
#wb_footer > .wb_cont_bg:before { background: transparent none repeat-x scroll center bottom; }
html { scroll-behavior: smooth; }
body { background-color: #f2f2f2; }
body.site:before { background: transparent url("../gallery_gen/63fd16ddcae7cf22fd86733b0b1e2b0c.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/5788898d02be30da20096274f134c56f.jpg") repeat-x scroll left top; }
body, .wb_sbg { min-width: 1200px; min-height: 1189px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1189px; min-height: 1189px; }
#wb_element_instance34 { top: 23px; left: 600px; min-width: 600px; width: 600px; min-height: 36px; height: 36px; display: block; z-index: 355; }
#wb_element_instance34 > ul { display: block; }
#wb_element_instance34 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance34, #wb_element_instance34 ul { text-align: right; }
#wb_element_instance34 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance34 li { margin: 0px 0px 0px 0px; }
#wb_element_instance34 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal bold 14px 'Roboto',sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: transparent none repeat scroll center center; }
#wb_element_instance34 li.over > a, #wb_element_instance34 li:focus > a { border: 0px none #000000; font: normal bold 14px 'Roboto',sans-serif; text-decoration: none; color: #ff0000; line-height: 16px; background: transparent none no-repeat scroll center center; }
#wb_element_instance34 li.active > a { border: 0px none #000000; font: normal bold 14px 'Roboto',sans-serif; text-decoration: none; color: #e80303; line-height: 16px; background: transparent none no-repeat scroll center center; }
#wb_element_instance34:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance34:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance34:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance35 { top: 3px; left: 90px; min-width: 650px; width: 650px; min-height: 61px; height: 61px; display: block; z-index: 154; }
#wb_element_instance36 { top: 11px; left: 20px; min-width: 56px; width: 56px; min-height: 56px; height: 56px; display: block; z-index: 152; }
#wb_element_instance36 img { width: 56px; height: 56px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance37 { top: 40px; left: 20px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; z-index: 152; }
#wb_element_instance38 { top: 70px; left: 20px; min-width: 112px; width: 112px; min-height: 45px; height: 45px; display: block; z-index: 153; }
#wb_element_instance38 img { width: 112px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance39 { top: 50px; left: 1090px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; z-index: 154; }
#wb_element_instance39 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance40 { top: 50px; left: 1140px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; z-index: 155; }
#wb_element_instance40 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance41 { top: 140px; left: 20px; min-width: 550px; width: 550px; min-height: 360px; height: 360px; display: block; z-index: 37; }
#wb_element_instance41 img { width: 550px; height: 360px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance42 { top: 140px; left: 590px; min-width: 590px; width: 590px; min-height: 143px; height: 143px; display: block; z-index: 38; }
#wb_element_instance43 { top: 40px; left: 20px; min-width: 1160px; width: 1160px; min-height: 77px; height: 77px; display: block; z-index: 39; }
#wb_element_instance44 { top: 310px; left: 590px; min-width: 590px; width: 590px; min-height: 121px; height: 121px; display: block; z-index: 40; }
#wb_element_instance45 { top: 530px; left: 20px; min-width: 550px; width: 550px; min-height: 198px; height: 198px; display: block; z-index: 43; }
#wb_element_instance46 { top: 530px; left: 590px; min-width: 590px; width: 590px; min-height: 330px; height: 330px; display: block; z-index: 44; overflow: hidden; }
#wb_element_instance46 img { width: 590px; height: 360.55555555556px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance47 { top: 135px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance35 p:last-child { margin-bottom: 0; }
#wb_element_instance35 { opacity: 1; }
#wb_element_instance36 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance37 p:last-child { margin-bottom: 0; }
#wb_element_instance37 { opacity: 1; }
#wb_element_instance38 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance39 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance40 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance41 { box-sizing: border-box; overflow: hidden; }
#wb_element_instance42 p:last-child { margin-bottom: 0; }
#wb_element_instance42 { opacity: 1; }
#wb_element_instance43 p:last-child { margin-bottom: 0; }
#wb_element_instance43 { opacity: 1; }
#wb_element_instance44 p:last-child { margin-bottom: 0; }
#wb_element_instance44 { opacity: 1; }
#wb_element_instance45 p:last-child { margin-bottom: 0; }
#wb_element_instance45 { opacity: 1; }
#wb_element_instance46 { box-sizing: border-box; overflow: hidden; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
