
#wb_header { height: 149px; }
#wb_header > .wb_cont_bg { background-color: transparent; }
#wb_header > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_main { height: 1000px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background-color: #ffffff; }
#wb_main > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_footer { height: 130px; }
#wb_footer > .wb_cont_bg { background-color: transparent; }
#wb_footer > .wb_cont_bg:before { background: transparent none repeat-x scroll left top; }
html { scroll-behavior: smooth; }
body { background-color: #f2f2f2; }
body.site:before { background: transparent url("../gallery_gen/63fd16ddcae7cf22fd86733b0b1e2b0c.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/5788898d02be30da20096274f134c56f.jpg") repeat-x scroll left top; }
body, .wb_sbg { min-width: 1200px; min-height: 1279px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1279px; min-height: 1279px; }
#wb_element_instance48 { top: 23px; left: 600px; min-width: 600px; width: 600px; min-height: 36px; height: 36px; display: block; z-index: 355; }
#wb_element_instance48 > ul { display: block; }
#wb_element_instance48 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance48, #wb_element_instance48 ul { text-align: right; }
#wb_element_instance48 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance48 li { margin: 0px 0px 0px 0px; }
#wb_element_instance48 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal bold 14px 'Roboto',sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: transparent none repeat scroll center center; }
#wb_element_instance48 li.over > a, #wb_element_instance48 li:focus > a { border: 0px none #000000; font: normal bold 14px 'Roboto',sans-serif; text-decoration: none; color: #ff0000; line-height: 16px; background: transparent none no-repeat scroll center center; }
#wb_element_instance48 li.active > a { border: 0px none #000000; font: normal bold 14px 'Roboto',sans-serif; text-decoration: none; color: #e80303; line-height: 16px; background: transparent none no-repeat scroll center center; }
#wb_element_instance48:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance48:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance48:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance49 { top: 3px; left: 90px; min-width: 650px; width: 650px; min-height: 61px; height: 61px; display: block; z-index: 154; }
#wb_element_instance50 { top: 11px; left: 20px; min-width: 56px; width: 56px; min-height: 56px; height: 56px; display: block; z-index: 152; }
#wb_element_instance50 img { width: 56px; height: 56px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance51 { top: 40px; left: 20px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; z-index: 152; }
#wb_element_instance52 { top: 70px; left: 20px; min-width: 112px; width: 112px; min-height: 45px; height: 45px; display: block; z-index: 153; }
#wb_element_instance52 img { width: 112px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance53 { top: 50px; left: 1090px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; z-index: 154; }
#wb_element_instance53 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance54 { top: 50px; left: 1140px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; z-index: 155; }
#wb_element_instance54 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance55 { top: 140px; left: 690px; min-width: 490px; width: 490px; min-height: 200px; height: 200px; display: block; z-index: 32; overflow: hidden; }
#wb_element_instance55 img { width: 490px; height: 245px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance56 { top: 40px; left: 20px; min-width: 1160px; width: 1160px; min-height: 77px; height: 77px; display: block; z-index: 33; }
#wb_element_instance57 { top: 140px; left: 20px; min-width: 640px; width: 640px; min-height: 132px; height: 132px; display: block; z-index: 34; }
#wb_element_instance58 form .form-area-field { height: 86px; }
#wb_element_instance58 { top: 390px; left: 380px; min-width: 800px; width: 800px; min-height: 200px; height: 200px; display: block; z-index: 35; }
#wb_element_instance59 { top: 650px; left: 20px; min-width: 1160px; width: 1160px; min-height: 300px; height: 300px; display: block; z-index: 36; }
#wb_element_instance60 { top: 390px; left: 20px; min-width: 200px; width: 200px; min-height: 132px; height: 132px; display: block; z-index: 37; }
#wb_element_instance61 { top: 370px; left: 0px; min-width: 1200px; width: 1200px; min-height: 250px; height: 250px; display: block; z-index: 30; }
#wb_element_instance61 > .wb_shp { background: #e1e3e8; border: 5px none #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 250px; }
#wb_element_instance62 { top: 135px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance49 p:last-child { margin-bottom: 0; }
#wb_element_instance49 { opacity: 1; }
#wb_element_instance50 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance51 p:last-child { margin-bottom: 0; }
#wb_element_instance51 { opacity: 1; }
#wb_element_instance52 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance53 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance54 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance55 { box-sizing: border-box; overflow: hidden; }
#wb_element_instance56 p:last-child { margin-bottom: 0; }
#wb_element_instance56 { opacity: 1; }
#wb_element_instance57 p:last-child { margin-bottom: 0; }
#wb_element_instance57 { opacity: 1; }
#wb_element_instance58 form td { text-align: right; }
#wb_element_instance58 form tr.area-row > th { height: 1%; }
#wb_element_instance58 form tr.area-row > td { height: 1%; }
#wb_element_instance58 form tr.form-footer > td { height: 20px; }
#wb_element_instance60 p:last-child { margin-bottom: 0; }
#wb_element_instance60 { opacity: 1; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
